*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.sra
*.bam
*.bam.bai
*.sam
*.cram
*.auc
*.bed
*.bedGraph
*.bigWig
*.bw
*.wig
*.fa
*.fasta
*.fa.gz
*.gtf
*.gff
*.gff3
hg38*
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj
multiqc_data/
*_fastqc.html
*_fastqc.zip
data/
raw/
trimmed/
aligned/
*.graphml 
.DS_Store
Thumbs.db
.vscode/
.idea/
